header.header
    .header-wrapper
        .header-column
            a.wetube-renderer(href=routes.home)
                .wetube-logo
                    i.fab.fa-youtube
                .wetube-path
                    |WeTube
        .header-column
            form.search-form(action=routes.search, method="get")
                input(type="text", name="word", placeholder="Search")
                button
                    i.fas.fa-search
        .header-column
            ul.masthead
                if user
                    //- TODO: when Hover li, show you name of list
                    li.masthead-upload
                        a(href=routes.uploadVideo)
                            i.fas.fa-upload
                    li.masthead-logout
                        a(href=routes.logout)
                            i.fas.fa-sign-out-alt
                    li.masthead-avatar
                        a(href=routes.userDetail(user.id))
                            img.user-avatar-img(src=user.avatarUrl)
                else
                    li.masthead-signin
                        a(href=routes.signin)
                            i.fas.fa-user-circle
                            span SIGN IN