header.header
    .header-wrapper#jsHeaderWrapper
        .header-column
            a.wetube-renderer#jsWetubeRenderer(href=routes.home)
                .wetube-logo
                    i.fab.fa-youtube
                .wetube-path
                    |WeTube
                div#jsWetubeHome
                    span WeTubeHome
        .header-column
            form.search-form(action=routes.search, method="get")
                input(type="text", name="word", placeholder="Search")
                button
                    i.fas.fa-search
        .header-column
            ul.masthead#jsMasthead
                if user.id
                    //- TODO: when Hover li, show you name of list
                    li.masthead-upload
                        a(href=routes.uploadVideo)
                            i.fas.fa-upload
                    li.masthead-logout
                        a(href=routes.logout)
                            i.fas.fa-sign-out-alt
                    li.masthead-avatar#jsAvatar
                        img.user-avatar-img(src=user.avatarUrl)
                    div#jsDropDownContent
                        div#jsUserDetail
                            a(href=routes.userDetail(user.id))
                                span User Detail
                        div#jsYourVideo
                            a(href=routes.videoDetail(user.id))
                                span Video Detail
                else
                    li.masthead-signin
                        a(href=routes.signin)
                            i.fas.fa-user-circle
                            span SIGN IN