extends layouts/sign

block content
    .signin-container
        .signin-column
            span#w W
            span#e e
            span#t T
            span#u u
            span#b b
            span#e e
        .signin-column
            .signin-title
                h1 Sign in
                div to continue to WeTube
            .signin-form-container
                div
                    form.signin-form(action=routes.signin, method="post")
                        input(type="email", name="email", placeholder="Email", required=true)
                        input(type="password", name="password", placeholder="Password", required=true)
                        input(type="submit", value="Sign In")
                    a(href=routes.github)
                        button#github
                            i.fab.fa-github
                            span Github
                    a(href=routes.facebook)
                        button#facebook 
                            i.fab.fa-facebook
                            span Facebook
                div
                    div
                        a(href=routes.signup) Create account
                    div
                
