extends layouts/main

block content
    .user-detail#jsUserDetail
        .avatar-container
            .avatar-title
                h4 Avatar
            .avatar
                img.avatar-img(src=user.avatarUrl)
                form.avatar-form(action=routes.userDetail(user.id), method="post", enctype="multipart/form-data")
                    input(type="file", name="avatarFile", placeholder="Avatar", accept="image/*")
                    button Update Avatar
        .user-password-container
            .user-password-title
                h4 Change Password
            .password
                form.password-form#jsPasswordForm(action=routes.userDetail(user.id), method="post")
                    input(type="password", name="oldPassword", placeholder="Old Password")
                    input(type="password", name="newPassword", placeholder="New Password")
                    input(type="password", name="confirmPassword", placeholder="Confirm Password")
                    button#jsChangePasswordBtn Change password
                
                        //- Implements add postUploadAvatar function using AJAX and API
                        //- if user.id == videos[0].creator.id
                        //-     form.user-avatar(action=routes.userDetail(user.id), method="post", enctype="multipart/form-data")
                        //-         input(type="file", name="avatarFile", placeholder="Avatar", accept="imgage/*")
                        //-         button Save
            //- Implements change name, password, and delete user by AJAX
            //- if user == videos[0].creator
            //-     .user-name
            //-     .user-password
            //-     .user-delete

    //- .content-left-thumbnail
    //-     a.overlay-link-to-wetube(href=routes.watchVideo(video.id)) 
    //-         video(src=`/${video.videoFile}`)
    //-     .video-title
    //-         div#videoTitle Title
    //-         div=video.title
    //-     .video-description
    //-         div#videoDescription Description
    //-         div=video.description
    //- .content-main
    //-     header.content-main-header
    //-         h1 Video details
    //-     .content-main-edit
    //-         form.form-title(action=routes.videoDetail(user.id, video.id), method="post")
    //-             .form-container-title
    //-                 .input-title
    //-                     span Title
    //-                     span (required)
    //-                 div#inputTitle
    //-                     input(type="text", name="title", placeholder="Title", value=video.title)
    //-                     //- TODO: Modify this by using ajax+api, prevent web from refreshing
    //-                     button
    //-                         span Update Title
    //-         form.form-description(action=routes.videoDetail(user.id, video.id), method="post")
    //-             .form-container-descrption
    //-                 .input-description
    //-                     span Description
    //-                 div#inputDescription
    //-                     textarea(type="text", name="description", placeholder="Description")=video.description
    //-                     //- TODO: Modify this by using ajax+api, prevent web from refreshing
    //-                     button
    //-                         span Update Description
    //-         .delete-video
    //-             a(href=routes.deleteVideo(video.id))
    //-                 button Delete Video
            