extends layouts/main
include mixins/videoPlayer

block content
    .watchVideo-container
        .watchVideo-video
            +videoPlayer({
                fileUrl:video.fileUrl
            })
        .watchVideo-watch-info
            h1.video-title=video.title
            div
                .video-info
                    if video.views === 1
                        span #{video.views} view 
                    else
                        span #{video.views} views
                    span#star *
                    //- TODO: Move to ajax
                    if video.createdAt.getMonth() === 0
                        span Jan #{video.createdAt.getDate()}, #{video.createdAt.getFullYear()}
                    else if video.createdAt.getMonth() === 1
                        span Feb #{video.createdAt.getDate()}, #{video.createdAt.getFullYear()}
                    else if video.createdAt.getMonth() === 2
                        span Mar #{video.createdAt.getDate()}, #{video.createdAt.getFullYear()}
                    else if video.createdAt.getMonth() === 3
                        span Apr #{video.createdAt.getDate()}, #{video.createdAt.getFullYear()}
                    else if video.createdAt.getMonth() === 4
                        span May #{video.createdAt.getDate()}, #{video.createdAt.getFullYear()}
                    else if video.createdAt.getMonth() === 5
                        span June #{video.createdAt.getDate()}, #{video.createdAt.getFullYear()}
                    else if video.createdAt.getMonth() === 6
                        span July #{video.createdAt.getDate()}, #{video.createdAt.getFullYear()}
                    else if video.createdAt.getMonth() === 7
                        span Aug #{video.createdAt.getDate()}, #{video.createdAt.getFullYear()}
                    else if video.createdAt.getMonth() === 8
                        span Sep #{video.createdAt.getDate()}, #{video.createdAt.getFullYear()}
                    else if video.createdAt.getMonth() === 9
                        span Oct #{video.createdAt.getDate()}, #{video.createdAt.getFullYear()}
                    else if video.createdAt.getMonth() === 10
                        span Nov #{video.createdAt.getDate()}, #{video.createdAt.getFullYear()}
                    else if video.createdAt.getMonth() === 11
                        span Dec #{video.createdAt.getDate()}, #{video.createdAt.getFullYear()}

        .watchVideo-description
            .watchVideo-description-info
                .watchVideo-description-avatar
                    a(href=routes.yourVideo(video.creator.id))
                        img.user-avatar-img(src=video.creator.avatarUrl)
                .watchVideo-description-name-description
                    .watchVideo-description-name
                        a(href=routes.yourVideo(video.creator.id))
                            span #{video.creator.firstName} #{video.creator.lastName}
                    .watchVideo-description-description
                        span=video.description
            .watchVideo-comments
                .watchVideo-comments-length
                    div
                        if video.comments.length === 1
                            span#jsCommentLength #{video.comments.length} 
                            span#comment-s comment
                        else
                            span#jsCommentLength #{video.comments.length} 
                            span#comment-s comments
                .watchVideo-comments-info
                    .watchVideo-comments-add
                        div
                            if user
                                img.avatar-img(src=user.avatarUrl)
                            else
                                img.avatar-img(src="")
                        div
                            if user
                                form.watchVideo-comments-add-form#jsAddCommentForm
                                    input(type="text", name="comment", placeholder="Add a public comment...")
                                    button#jsAddCommentBtn COMMENT
                            else
                                form.watchVideo-comments-add-form(action=routes.signin, method="get")
                                    input(type="text", name="comment", placeholder="Add a public comment...")
                                    button COMMENT
                    ul.watchVideo-comments-display#jsCommentUL
                        each comment in video.comments
                            li.watchVideo-comment-info
                                a(href=routes.yourVideo(comment.creatorId)) 
                                    img.avatar-img(src=comment.creatorAvatar)
                                div
                                    span=comment.content

