mixin editVideo(video={})
    .editVideo
        .content-left-thumbnail
            a.overlay-link-to-wetube(href=routes.watchVideo(video.id)) 
                video(src=`/${video.videoFile}`)
            div.video-title
                div#videoTitle Title
                div=video.title
        .content-main
            header.content-main-header
                h1 Video details
            .content-main-edit
                form.form-title(action=routes.videoDetail(video.id), method="post")
                    .form-container-title
                        .input-title
                            span Title
                            span (required)
                        div#inputTitle
                            input(type="text", name="title", placeholder="Title", value=video.title)
                            button
                                span Update Title
                form.form-description(action=routes.videoDetail(video.id), method="post")
                    .form-container-descrption
                        .input-description
                            span Description
                        div#inputDescription
                            textarea(type="text", name="description", placeholder="Description")=video.description
                            button
                                span Update Description