mixin editVideo(video={})
    .editVideo
        .content-left-thumbnail
            a.overlay-link-to-wetube(href=routes.watchVideo(video.id)) 
                video(src=`/${video.videoFile}`)
            .video-title
                div#videoTitle Title
                div=video.title
            .video-description
                div#videoDescription Description
                div=video.description
        .content-main
            header.content-main-header
                h1 Video details
            .content-main-edit
                form.form-title(action=routes.videoDetail(user.id, video.id), method="post")
                    .form-container-title
                        .input-title
                            span Title
                            span (required)
                        div#inputTitle
                            input(type="text", name="title", placeholder="Title", value=video.title)
                            //- TODO: Modify this by using ajax+api, prevent web from refreshing
                            button
                                span Update Title
                form.form-description(action=routes.videoDetail(user.id, video.id), method="post")
                    .form-container-descrption
                        .input-description
                            span Description
                        div#inputDescription
                            textarea(type="text", name="description", placeholder="Description")=video.description
                            //- TODO: Modify this by using ajax+api, prevent web from refreshing
                            button
                                span Update Description
                .delete-video
                    a(href=routes.deleteVideo(video.id))
                        button Delete Video