mixin videoContent(video={})
    .videoContent
        .videoContent__column
            a.thumbnail(href=routes.watchVideo(video.id))
                video(src=video.videoFile)
        .videoContent__column
            //- a.avatar-link(href=routes.userDetail(video.creator.id))
                //- img(src=video.creator.avatarUrl, alt="")
            a.video-title-link(href=routes.watchVideo(video.id)) 
                h4=video.title
                .metadata-line
                    span=video.views
                    //- compute between current time and created time
                    span=video.createdAt
                    //- span=video.creator.name