mixin videoContent(video={})
    .videoContent
        .videoContent__column
            a.thumbnail(href=routes.watchVideo(video.id))
                video(src=`/${video.videoFile}`, controls=true)
        .videoContent__column
            //- TODO: styling
            if video.creator
                a.avatar-link(href=routes.userDetail(video.creator.id))
                    img.avatar-img(src=video.creator.avatarUrl)
            a.video-title-link(href=routes.watchVideo(video.id)) 
                h4=video.title
                .video-info
                    if video.views === 1
                        span #{video.views} view 
                    else
                        span #{video.views} views
                    //- TODO: move to controller
                    span.diff-time=Math.floor((Date.now() - Date.parse(video.createdAt))/1000)
                    if video.creator
                        a(href=routes.userDetail(video.creator.id))
                            span #{video.creator.firstName} #{video.creator.lastName}