mixin videoContent(video={})
    .videoContent
        .videoContent__column
            a.thumbnail(href=routes.watchVideo(video.id))
                video(src=`/${video.videoFile}`)
        .videoContent__column
            //- TODO: styling
            .video-creator-avatar
                if video.creator
                    a.avatar-link(href=routes.userDetail(video.creator.id))
                        img.avatar-img(src=video.creator.avatarUrl)
            .video-info
                .video-info-title-link
                    a.video-title-link(href=routes.watchVideo(video.id)) 
                        h4=video.title
                .video-info-creator
                    if video.creator
                        a(href=routes.userDetail(video.creator.id))
                            span #{video.creator.firstName} #{video.creator.lastName}
                .video-info-views-createdAt
                    if video.creator
                        a(href=routes.userDetail(video.creator.id))
                            if video.views === 1
                                span #{video.views} view
                            else
                                span #{video.views} views
                            span.video-info-views-createdAt-start *
                            //- TODO: Implements time (1 hour ago, 1 day ago, etc...)
                            span.diff-time #{Math.floor((Date.now() - Date.parse(video.createdAt))/1000)}(sec) ago
                    